﻿@model MobilePhones.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<img src="@Model.ImagePath()" alt="Alternate Text"  width="100"/>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="Admin" asp-action="Index">Back to List</a>
</div>

<form asp-action="CreateComment" asp-area="Admin" method="post">
    <input type="hidden" name="PhoneId" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="CommentForm.Description" class="control-label"></label>
        <textarea asp-for="CommentForm.Description" class="form-control" /></textarea>
        <span asp-validation-for="CommentForm.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>


<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="/docs/4.5/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
        <small>Since 2011</small>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Comments</h6>
    @foreach (Comment comment in Model.Comments)
    {
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@comment.User.UserName</strong>
                @comment.Description
            </p>
        </div>
    }


</div>