﻿@model FileUploadViewModel

<h6>Поиск файлов в файловой системе...</h6>
@if (Model.FilesOnFileSystem.Count == 0)
{
    <caption>Нет файлов</caption>
}
else
{
    <caption>Файлы файловой системы</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Описание</th>
                <th>Типа файла</th>
                <th>Создано</th>
                <th>Загрузил</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystem)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>@file.User.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />
<h6>Поиск файлов в базе данных...</h6>
@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>Нет файлов в бд</caption>
}
else
{
    <caption>Файлы базы данных</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Описание</th>
                <th>Тип файла</th>
                <th>Создано</th>
                <th>Загрузил</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>@file.User.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<hr />