﻿@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <canvas id="canvas" data-phonesdata="@ViewBag.PhoneOrders"></canvas>
</div>

@section Scripts {
    <script src="~/lib/charts/chart.min.js"></script>
    <script src="~/js/chart.js"></script>
}