﻿@model RoleEdit

<h1 class="bg-info text-white">Update a Role</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="NonMembers">Выберите пользователей:</label>
        <select id="NonMembers" class="form-control defaultSelect2" multiple="multiple" name="AddIds[]">
            @foreach (User user in Model.NonMembers)
            {
                <option value="@user.Id">@user.UserName</option>           
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<form method="post">

    <input type="hidden" name="RoleName" value="@Model.Role.Name" />
    <input type="hidden" name="RoleId" value="@Model.Role.Id" />

    <h3>Удалить роль @Model.Role.NormalizedName у пользователей:</h3>

    @if (Model.Members.Count() == 0)
    {
        <p>Нет пользователей для удаления, с этой ролью </p>
    }
    else
    {
        <div class="list-group">
            @foreach (User user in Model.Members)
            {


                <div class="list-group-item list-group-item-action alert-info js-user-role-items">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               value="@user.Id" id="delete-@user.Id" name="DeleteIds">
                        <label class="form-check-label" for="delete-@user.Id">
                            @user.UserName
                        </label>
                    </div>
                </div>
            }

        </div>
    }
<hr />
    <h3>Добавить роль @Model.Role.NormalizedName для пользователей: </h3>

    @if (Model.NonMembers.Count() == 0)
    {
        <p>Нет пользователей для добавления наЫ данную роль </p>
    }
    else
    {
        <div class="list-group">
            @foreach (User user in Model.NonMembers)
            {
                <div class="list-group-item list-group-item-action alert-info js-user-role-items">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@user.Id" id="add-@user.Id" name="AddIds">
                        <label class="form-check-label" for="add-@user.Id">
                            @user.UserName
                        </label>
                    </div>
                </div>
            }
        </div>
    }
    <hr />
    <button type="submit" class="btn btn-primary mb-2">Обновить список </button>
</form>